<div class="widgetname" data-dojo-attach-point="widgetBase">
        <div class="form-group bootstrapinputaddons" >
                <div >
                    <div class="input-group">
                        <input type="text" class="form-control" id="custom-form" readonly disabled style >
                                    <span class="input-group-btn"><button class="btn btn-primary" type="button" style="height: 37px;" id="copybutton">Copy Link</button></span>
                    </div>
                </div>
            </div>
        <div class="alert alert-info hide custom-alert" role="alert">This link has been copied to your clipboard</div>
            

</div>
